/* this is for posters after search */
#movies img {
   width: 90%;
}

/* this is the div of each movie after search */
#movies div {
   margin-bottom: 20px;
}

body {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   background-color: black;
}

.navbar {
   margin-top: 10px;
   height: 80px;
   background-color: transparent;
   border: none;
   color: white;
   z-index: 100;
   -webkit-transition: background-color 1s ease 0s;
   transition: background-color 1s ease 0s;
}

.navbar-default .navbar-brand {
   color: white;
}
.navbar-default .navbar-brand:hover {
   color: #a4b3b6;
}
.navbar-default .navbar-nav > li > a {
   color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus {
   color: #c57ed3;
}
.navbar-default .navbar-nav > li > a:visited {
   color: #c57ed3;
   text-decoration: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
   background-color: transparent;
   color: #c57ed3;
}
.navbar-default .navbar-toggle {
   border-color: #c57ed3;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
   background-color: #490d40;
}
.navbar-default .navbar-toggle .icon-bar {
   color: #c57ed3;
   background-color: #c57ed3;
}
.navbar-default .navbar-collapse.collapse.in ul {
   background-color: #490d40;
}

.navbar-brand {
   font-family: "Montserrat", sans-serif;
   font-weight: 900;
}

/* Solid class attached on scroll past first section */
.navbar.solid {
   background-color: #ff1f00;
   -webkit-transition: background-color 1s ease 0s;
   transition: background-color 1s ease 0s;
   box-shadow: 0 0 4px grey;
}
.navbar.solid .navbar-brand {
   color: #c57ed3;
   -webkit-transition: color 1s ease 0s;
   transition: color 1s ease 0s;
}
.navbar.solid .navbar-nav > li > a {
   color: #c57ed3;
   -webkit-transition: color 1s ease 0s;
   transition: color 1s ease 0s;
}

.about {
   background-color: #c57ed3;
   color: #490d40;
   height: 600px;
   text-align: center;
   margin-top: -20px;
}
.about h2 {
   padding-top: 220px;
}
.about p {
   padding: 20px 80px;
}

.jumbotron {
   position: absolute;
   width: 100%;

   background-color: transparent;
   margin-top: 10%;
   top: 0;
   text-align: center;
}

.pad {
   margin-top: 15%;
}

/* #Searchbarx1 {
   list-style-type: none;
   text-align: center;
   margin: 0;
   padding: 0;
} */

#searchText {
   display: inline-block;
   width: 80vw;
   -webkit-box-shadow: 3px 3px 5px 6px #ccc;
   -moz-box-shadow: 3px 3px 5px 6px #ccc;
   box-shadow: 3px 3px 5px 6px #ccc;
}

#searchbutton {
   margin-left: 1%;
   -webkit-box-shadow: 3px 3px 5px 6px #ccc;
   -moz-box-shadow: 3px 3px 5px 6px #ccc;
   box-shadow: 3px 3px 5px 6px #ccc;
}
#searchbutton2 {
   margin-left: 2%;
   -webkit-box-shadow: 3px 3px 5px 6px #ccc;
   -moz-box-shadow: 3px 3px 5px 6px #ccc;
   box-shadow: 3px 3px 5px 6px #ccc;
}
@media (min-width: 579px) {
   #searchbutton2 {
      display: none;
   }
}
@media (max-width: 575px) {
   #searchbutton {
      display: none;
   }
}

div.gallery {
   margin: 10px;
   border: 1px solid #ccc;
   float: left;
   width: 200px;
   height: 350px;
}

div.gallery:hover {
   border: 1px solid #777;
}

div.gallery img {
   width: 100%;
   height: 100%;
}

footer {
   text-align: center;
   padding: 3px;
   background-color: green;
   color: white;
}
