.row-1 {
   background-color: grey;
   outline: double;
   margin-bottom: 20px;
   height: 200px;
   outline-color: black;
}

.row-2 {
   background-color: grey;
   height: 200px;
   margin-bottom: 20px;
   outline: double;
   outline-color: black;
}

/* this is for posters after search */
#movies img {
   width: 90%;
}
#movie {
   padding-top: 75px;
}

#movie img {
   width: 50%;
   padding-bottom: 50px;
}

/* this is the div of each movie after search */
#movies div {
   margin-bottom: 20px;
}
