/* inside single movie page */
#movie {
   padding-top: 75px;
}

#movie img {
   width: 75%;
   padding-bottom: 50px;
}

body {
   background-color: black;
   margin: 0;
   font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}

.navbar {
   margin-top: 10px;
   height: 80px;
   background-color: transparent;
   border: none;
   color: white;
   z-index: 100;
   -webkit-transition: background-color 1s ease 0s;
   transition: background-color 1s ease 0s;
}

.navbar-default .navbar-brand {
   color: white;
}
.navbar-default .navbar-brand:hover {
   color: #a4b3b6;
}
.navbar-default .navbar-nav > li > a {
   color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus {
   color: #c57ed3;
}
.navbar-default .navbar-nav > li > a:visited {
   color: #c57ed3;
   text-decoration: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
   background-color: transparent;
   color: #c57ed3;
}
.navbar-default .navbar-toggle {
   border-color: #c57ed3;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
   background-color: #490d40;
}
.navbar-default .navbar-toggle .icon-bar {
   color: #c57ed3;
   background-color: #c57ed3;
}
.navbar-default .navbar-collapse.collapse.in ul {
   background-color: #490d40;
}

.navbar-brand {
   font-family: "Montserrat", sans-serif;
   font-weight: 900;
}

/* Solid class attached on scroll past first section */
.navbar.solid {
   background-color: #ff1f00;
   -webkit-transition: background-color 1s ease 0s;
   transition: background-color 1s ease 0s;
   box-shadow: 0 0 4px grey;
}
.navbar.solid .navbar-brand {
   color: #c57ed3;
   -webkit-transition: color 1s ease 0s;
   transition: color 1s ease 0s;
}
.navbar.solid .navbar-nav > li > a {
   color: #c57ed3;
   -webkit-transition: color 1s ease 0s;
   transition: color 1s ease 0s;
}

.movieHead {
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
}

.about {
   background-color: #c57ed3;
   color: #490d40;
   height: 600px;
   text-align: center;
   margin-top: -20px;
}
.about h2 {
   padding-top: 220px;
}
.about p {
   padding: 20px 80px;
}

footer {
   text-align: center;
   padding: 3px;
   background-color: green;
   color: white;
}

@media (max-width: 575px) {
   #movie {
      text-align: center;
   }
}
